* {
  box-sizing:border-box; 
}
body {
  height:100%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.folder {
  display:flex;
  justify-content:center;
  width:960px;
  max-width:90%;
  height:calc(100% - 64px);
  margin:auto;
  text-align:center;
  background:#eeeeee 0% 0% repeat scroll;
  border:8px ridge rgba(0,0,0,1);
  padding:4px 0px;
  font-size:1.1em;
}
.controls {
  display:flex;
  justify-content: center;
  width:96px;
  height:40px;
  margin:auto;
  background:#eeeeee 0% 0% repeat scroll;
  border:8px ridge rgba(0,0,0,1);
  padding:4px 0px;
}
.folder img {
  max-height:100%;
  max-width:100%;
}
.static {
  position:absolute;
}
.static:hover {
  opacity:0;
}